#### Primeiro PASSO IMPORTAR AS BIBLIOTECAS

In [1]:
import pandas as pd

In [ ]:
#medalhas é o arquivo das olimpiadas com todos individuais de melhada por país
medalhas=pd.read_csv(r'dados\medals.csv')
medalhas=medalhas.drop_duplicates() #certeza que não há duplicatas nos valores
medalhas.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
1039,Silver Medal,2.0,2024-08-09,KALEYN Boryana,W,Rhythmic Gymnastics,Individual All-Around,ATH,NaN,1548948,BUL,Bulgaria,Bulgaria
1040,Bronze Medal,3.0,2024-08-09,RAFFAELI Sofia,W,Rhythmic Gymnastics,Individual All-Around,ATH,NaN,1923694,ITA,Italy,Italy
1041,Gold Medal,1.0,2024-08-09,THIAM Nafissatou,W,Athletics,Women's Heptathlon,ATH,NaN,1903112,BEL,Belgium,Belgium
1042,Silver Medal,2.0,2024-08-09,JOHNSON-THOMPSON Katarina,W,Athletics,Women's Heptathlon,ATH,NaN,1977926,GBR,Great Britain,Great Britain
1043,Bronze Medal,3.0,2024-08-09,VIDTS Noor,W,Athletics,Women's Heptathlon,ATH,NaN,1895596,BEL,Belgium,Belgium

In [ ]:
#Quantos países ganharam alguma medalha?

# Para responder a primeira questão é preciso usar o método nunique do pandas que retorna a quantidade de valores únicos de uma coluna
medalhas['country_code'].nunique()
#total 92

92

In [ ]:
total_medalha = pd.read_csv(r'dados\medals_total.csv')
#Quantas medalhas foram distribuídas nas Olimpíadas de Paris?
total_medalha['Total'].sum()

1043

In [37]:
atletas = pd.read_csv(r'dados\athletes.csv')
atletas.columns  ##ver as colunas

altura_gen= atletas[['height','gender']].copy()
### remoção dos dados faltantes, no caso estão como 0. Há outras técnicas além de simples remoção, mas para condizer com exercício foi aplicado somente remoção
altura_gen = altura_gen[altura_gen["height"] != 0]
altura_gen.groupby('gender',as_index=False)['height'].mean()

   gender      height
0  Female  172.224828
1    Male  185.363916

In [ ]:
#Na tabela de atletas, qual desses campos não tem valores faltantes?
atletas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11110 entries, 0 to 11109
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code                11110 non-null  int64
 1   name                11110 non-null  object
 2   name_short          11110 non-null  object
 3   name_tv             11110 non-null  object
 4   gender              11110 non-null  object
 5   function            11110 non-null  object
 6   country_code        11110 non-null  object
 7   country             11110 non-null  object
 8   country_long        11110 non-null  object
 9   nationality         11107 non-null  object
 10  nationality_full    11107 non-null  object
 11  nationality_code    11107 non-null  object
 12  height              11110 non-null  int64
 13  weight              11108 non-null  float64
 14  disciplines         11110 non-null  object
 15  events              11110 non-null  object
 16  birth_date          11110 non-null  object
 17  birth_place         8727 non-null   object
 18  birth_country       9475 non-null   object
 19  residence_place     6804 non-null   object
 20  residence_country   8288 non-null   object
 21  nickname            2966 non-null   object
 22  hobbies             4207 non-null   object
 23  occupation          9584 non-null   object
 24  education           5538 non-null   object
 25  family              5561 non-null   object
 26  lang                10605 non-null  object
 27  coach               8222 non-null   object
 28  reason              5846 non-null   object
 29  hero                3315 non-null   object
 30  influence           2155 non-null   object
 31  philosophy          2783 non-null   object
 32  sporting_relatives  2518 non-null   object
 33  ritual              859 non-null    object
 34  other_sports        1060 non-null   object
dtypes: float64(1), int64(2), object(32)
memory usage: 3.0+ MB

In [ ]:
medalhas['medal_date'] = pd.to_datetime(medalhas['medal_date']) ## converter em data
dia_medalhas = medalhas.groupby('medal_date',as_index=False)['medal_code'].count()
dia_medalhas[dia_medalhas['medal_code'] == dia_medalhas['medal_code'].max()]

In [ ]:
medalhas.groupby('discipline',as_index=False)['medal_code'].count().sort_values('medal_code',ascending=False)

In [ ]:

##tabela com medalhistas
medalhistas = pd.read_csv(r'dados\medallists.csv')
medalhistas.groupby('name',as_index=False)['medal_code'].count().sort_values('medal_code',ascending=False)

                          name  medal_code
1985               ZHANG Yufei           6
1240            McKEOWN Kaylee           5
1120             MARCHAND Leon           5
1644               SMITH Regan           5
758                HUSKE Torri           5
...                        ...         ...
805               JEONG Na Eun           1
804                 JEON Jihee           1
803              JEON Hunyoung           1
0                          671           1
1783  TUNJUNG Gregoria Mariska           0

[2050 rows x 2 columns]

In [88]:
total_medalha
pop = pd.read_csv(r'dados\populacao_por_pais.csv')
pop_merge = pop[['Country Code','2023']]

In [ ]:
pop_merge.columns = ['country_code','pop']
total_medalha = pd.merge(total_medalha,pop_merge,on='country_code',how='left')

In [ ]:
total_medalha['pop'] = total_medalha['pop'].fillna(0).astype(int)

total_medalha['pop']=total_medalha['pop'].astype(int)
total_medalha['pop_medalha'] = total_medalha['pop']/total_medalha['Total']
total_medalha['pop_medalha']=total_medalha['pop_medalha'].astype(int)

In [107]:
total_medalha.sort_values('pop_medalha',ascending=True).head(50)

,country_code,country,country_long,Gold Medal,Silver Medal,Bronze Medal,Total,pop,pop_medalha
91,ZAM,Zambia,Zambia,0,0,1,1,0,0
25,BUL,Bulgaria,Bulgaria,3,1,3,7,0,0
28,DEN,Denmark,Denmark,2,2,5,9,0,0
30,CRO,Croatia,Croatia,2,2,3,7,0,0
33,SLO,Slovenia,Slovenia,2,1,0,3,0,0
34,TPE,Chinese Taipei,Chinese Taipei,2,0,5,7,0,0
37,PHI,Philippines,Philippines,2,0,2,4,0,0
38,ALG,Algeria,Algeria,2,0,1,3,0,0
77,MGL,Mongolia,Mongolia,0,1,0,1,0,0
39,INA,Indonesia,Indonesia,2,0,0,2,0,0
44,RSA,South Africa,South Africa,1,3,2,6,0,0
73,KOS,Kosovo,Kosovo,0,1,1,2,0,0
46,AIN,AIN,AIN,1,3,1,5,0,0
48,SUI,Switzerland,Switzerland,1,2,5,8,0,0
50,POR,Portugal,Portugal,1,2,1,4,0,0
51,GRE,Greece,Greece,1,1,6,8,0,0
55,BOT,Botswana,Botswana,1,1,0,2,0,0
75,FIJ,Fiji,Fiji,0,1,0,1,0,0
20,IRI,IR Iran,Islamic Republic of Iran,3,6,3,12,0,0
60,GUA,Guatemala,Guatemala,1,0,1,2,0,0
9,GER,Germany,Germany,12,13,8,33,0,0
5,NED,Netherlands,Netherlands,15,7,12,34,0,0
83,PUR,Puerto Rico,Puerto Rico,0,0,2,2,0,0
86,EOR,EOR,Refugee Olympic Team,0,0,1,1,0,0
81,GRN,Grenada,Grenada,0,0,2,2,0,0
82,MAS,Malaysia,Malaysia,0,0,2,2,0,0
62,DMA,Dominica,Dominica,1,0,0,1,73040,73040
56,CHI,Chile,Chile,1,1,0,2,175346,87673
57,LCA,Saint Lucia,Saint Lucia,1,1,0,2,180251,90125
32,BRN,Bahrain,Bahrain,2,1,1,4,452524,113131
10,NZL,New Zealand,New Zealand,10,7,3,20,5223100,261155
43,JAM,Jamaica,Jamaica,1,3,2,6,2825544,470924
3,AUS,Australia,Australia,18,19,16,53,26638544,502614
13,HUN,Hungary,Hungary,6,7,6,19,9589872,504730
23,GEO,Georgia,Georgia,3,3,1,7,3760365,537195
84,CPV,Cabo Verde,Cabo Verde,0,0,1,1,598682,598682
72,MDA,Republic of Moldova,Republic of Moldova,0,1,3,4,2486891,621722
17,NOR,Norway,Norway,4,1,3,8,5519594,689949
66,ARM,Armenia,Armenia,0,3,1,4,2777970,694492
70,LTU,Lithuania,Lithuania,0,2,2,4,2871897,717974
18,IRL,Ireland,Ireland,4,0,3,7,5262382,751768
15,SWE,Sweden,Sweden,4,4,3,11,10536632,957875
6,GBR,Great Britain,Great Britain,14,22,29,65,68350000,1051538
4,FRA,France,France,16,26,22,64,68170228,1065159
24,BEL,Belgium,Belgium,3,1,6,10,11822592,1182259
69,KGZ,Kyrgyzstan,Kyrgyzstan,0,2,4,6,7100800,1183466
31,CUB,Cuba,Cuba,2,1,6,9,11194449,1243827
74,CYP,Cyprus,Cyprus,0,1,0,1,1260138,1260138
26,SRB,Serbia,Serbia,3,1,1,5,6618026,1323605
80,ALB,Albania,Albania,0,0,2,2,2745972,1372986