#### Primeiro PASSO IMPORTAR AS BIBLIOTECAS

In [1]:
import pandas as pd

In [ ]:
#medalhas é o arquivo das olimpiadas com todos individuais de melhada por país
medalhas=pd.read_csv(r'dados\medals.csv')
medalhas=medalhas.drop_duplicates() #certeza que não há duplicatas nos valores
medalhas.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
1039,Silver Medal,2.0,2024-08-09,KALEYN Boryana,W,Rhythmic Gymnastics,Individual All-Around,ATH,NaN,1548948,BUL,Bulgaria,Bulgaria
1040,Bronze Medal,3.0,2024-08-09,RAFFAELI Sofia,W,Rhythmic Gymnastics,Individual All-Around,ATH,NaN,1923694,ITA,Italy,Italy
1041,Gold Medal,1.0,2024-08-09,THIAM Nafissatou,W,Athletics,Women's Heptathlon,ATH,NaN,1903112,BEL,Belgium,Belgium
1042,Silver Medal,2.0,2024-08-09,JOHNSON-THOMPSON Katarina,W,Athletics,Women's Heptathlon,ATH,NaN,1977926,GBR,Great Britain,Great Britain
1043,Bronze Medal,3.0,2024-08-09,VIDTS Noor,W,Athletics,Women's Heptathlon,ATH,NaN,1895596,BEL,Belgium,Belgium

In [ ]:
#Quantos países ganharam alguma medalha?

# Para responder a primeira questão é preciso usar o método nunique do pandas que retorna a quantidade de valores únicos de uma coluna
medalhas['country_code'].nunique()
#total 92

92

In [ ]:
total_medalha = pd.read_csv(r'dados\medals_total.csv')
#Quantas medalhas foram distribuídas nas Olimpíadas de Paris?
total_medalha['Total'].sum()

1043

In [37]:
atletas = pd.read_csv(r'dados\athletes.csv')
atletas.columns  ##ver as colunas

altura_gen= atletas[['height','gender']].copy()
### remoção dos dados faltantes, no caso estão como 0. Há outras técnicas além de simples remoção, mas para condizer com exercício foi aplicado somente remoção
altura_gen = altura_gen[altura_gen["height"] != 0]
altura_gen.groupby('gender',as_index=False)['height'].mean()

   gender      height
0  Female  172.224828
1    Male  185.363916

In [ ]:
#Na tabela de atletas, qual desses campos não tem valores faltantes?
atletas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11110 entries, 0 to 11109
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code                11110 non-null  int64
 1   name                11110 non-null  object
 2   name_short          11110 non-null  object
 3   name_tv             11110 non-null  object
 4   gender              11110 non-null  object
 5   function            11110 non-null  object
 6   country_code        11110 non-null  object
 7   country             11110 non-null  object
 8   country_long        11110 non-null  object
 9   nationality         11107 non-null  object
 10  nationality_full    11107 non-null  object
 11  nationality_code    11107 non-null  object
 12  height              11110 non-null  int64
 13  weight              11108 non-null  float64
 14  disciplines         11110 non-null  object
 15  events              11110 non-null  object
 16  birth_date          11110 non-null  object
 17  birth_place         8727 non-null   object
 18  birth_country       9475 non-null   object
 19  residence_place     6804 non-null   object
 20  residence_country   8288 non-null   object
 21  nickname            2966 non-null   object
 22  hobbies             4207 non-null   object
 23  occupation          9584 non-null   object
 24  education           5538 non-null   object
 25  family              5561 non-null   object
 26  lang                10605 non-null  object
 27  coach               8222 non-null   object
 28  reason              5846 non-null   object
 29  hero                3315 non-null   object
 30  influence           2155 non-null   object
 31  philosophy          2783 non-null   object
 32  sporting_relatives  2518 non-null   object
 33  ritual              859 non-null    object
 34  other_sports        1060 non-null   object
dtypes: float64(1), int64(2), object(32)
memory usage: 3.0+ MB

In [ ]:
medalhas['medal_date'] = pd.to_datetime(medalhas['medal_date']) ## converter em data
dia_medalhas = medalhas.groupby('medal_date',as_index=False)['medal_code'].count()
dia_medalhas[dia_medalhas['medal_code'] == dia_medalhas['medal_code'].max()]

In [ ]:
medalhas.groupby('discipline',as_index=False)['medal_code'].count().sort_values('medal_code',ascending=False)

In [80]:
atletas['country'].nunique()

206